<script>
  import { createEventDispatcher } from "svelte";
  const dispatch = createEventDispatcher();
  let data = {
    username: "",
    email: "",
    password: ""
  };
  const baseUrl = "http://localhost:8081/post";
  let addNewPost = async () => {
    if (
      data.username.trim() === "" ||
      data.email.trim() === "" ||
      data.password.trim() === ""
    ) {
      return;
    }
    const res = await fetch(`${baseUrl}`, {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify(data)
    });
    const post = res.json();
    dispatch("postCreated", post);
  };
</script>


<section class="mt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="card p-3">
          <form on:submit|preventDefault={addNewPost}>
            <div class="form-group">
              <label for="title">Username</label>
              <input
                bind:value={data.username}
                type="text"
                class="form-control"
                id="text"
                placeholder="Username" />
            </div>
            <div class="form-group">
              <label for="title">Email</label>
              <input
                bind:value={data.email}
                type="text"
                class="form-control"
                id="text"
                placeholder="Eamil" />
            </div>
            <div class="form-group">
              <label for="title">Password</label>
              <input
                bind:value={data.password}
                type="text"
                class="form-control"
                id="text"
                placeholder="Password" />
            </div>
           
            <button type="submit" class="btn btn-primary">Add Note</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
