<script>
  import { onMount } from "svelte";
 let data = [];
 let apiURL = "http://localhost:8081/get";
    onMount(async function() {
        const response = await fetch(apiURL);
        data = await response.json();
    });
</script>
 {#each data as {username, email, password}, i }
 {#if username === "Dolly"}
 <ul>
 <li>{i}: {username} {email} {password}</li>
 </ul>
{/if}
 {/each}
